* {
    font-family: 'arial', sans-serif;
    margin: 0;
}

.blue-text {
    color: #3f65f0;
}

.blue-buttons {
    background-color: #3f65f0;
    color: white;
    border-style: none;
}

#login-buttons .blue-buttons {
    border-radius: 10px;
    min-height: 35px;
    padding-inline: 1vw;
}

.description .blue-text {
    font-style: italic;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    font-weight: 200;
    padding: 20px 76px;
}

.title {
    display: flex;
    font-weight: 200;
    font-size: 40px;
}

.pages {    
    display: flex;
    background-color: gainsboro;
    width: 420px;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.presentation {
    padding-inline: 76px;
    padding-top: 50px;
    background-color: gainsboro;
}


.presentation .blue-buttons {
    border-radius: 30px;
    min-height: 50px;
    padding-inline: 25px;
    font-size: 18px;
}

#accroche {
    font-size: 50px;
}

.description {
    margin: 30px 0px 30px 0px;
}

#pc-image {

}

#accroche {
    background-color: white;
}

.description {
    background-color: white;
}